<!DOCTYPE html>
<html>
<head>

</head>
<body>
<h1>Delete <%= item %> </h1>

<form action="/items/<%= id %>" method="post">
  <label for="item_name">Item Name</label>
  <input type="hidden" name="_method" value="put"/>
  <input type="text" name="item_name" id="item_name"/>
  <input type="submit" value="Delete Item"/>
</form>

</body>
</html>